/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
    width: calc(100% - 10px); 
    border-collapse: collapse; 
    margin: 0px 5px;;
  }
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    background: rgba(30, 47, 218, 0.4); 
    color: rgb(30, 47, 218); 
    font-weight: bold; 
  }
  td, th { 
    padding: 16px; 
    border: 1px solid #ccc; 
    text-align: left; 
  }

 th, td {
    border: none;
  }

  .titleT {
    color:  #008CBA;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    border-bottom: 3px solid #008CBA;
    margin-bottom: 0;
  }