.form {
    border: 2px solid #008CBA;
    border-radius: 5px;
    width: calc(100% - 20px); 
    border-collapse: collapse; 
    margin: 0px 10px;
}

.formContainer {
  width: calc(100% - 20px); 
  margin: 0px 10px;
  vertical-align: middle;
}

.formContainer hr {
  width: calc(100% - 20px); 
  border: 2px solid #008CBA;
  border-radius: 5px;
}

.title {
    background-color: #008CBA;
    color:  white;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin: 0;
  }

  .folio {
    color:  green;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    margin: 0;
  }

  .label {
    color:  green;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin: 0;
    display: inline-block;
    width: 200px;
  }

  .sellsContainer {
    max-width: 500px;
  }

  .sellsContainer a {
    float: right;
    margin-right: 10px;
  }

 